@model Drippin.Models.Producto
@* Vista retornada por: ProductosController.Delete *@

@{
    ViewData["Title"] = "Eliminar Producto";
}

<style>
    th {
        color: white;
    }

    td {
        color: white;
    }

    h1 {
        color: white;
    }
</style>

<h1>Eliminar Producto</h1>

<h3>¿Está seguro de que desea eliminar este registro del catálogo?</h3>
<div>
    <h4>Detalles del Producto</h4>
    <hr />
    <dl class="row text-white">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.proNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.proNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.proPrecio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.proPrecio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.proImagen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.proImagen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.proImagen2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.proImagen2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.proImagen3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.proImagen3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.proImagen4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.proImagen4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disponible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.prodCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.prodCreacion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        @* Persistencia del identificador único para la ejecución de la eliminación en el servidor. *@
        <input type="hidden" asp-for="proId" />
        <input type="submit" value="Confirmar Eliminación" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
    </form>
</div>
