@model Drippin.Models.Usuario
@* Vista retornada por: UsuariosController.Details *@

@{
    ViewData["Title"] = "Detalles de Usuario";
}

<style>
    th {
        color: white;
    }

    td {
        color: white;
    }

    h1 {
        color: white;
    }

    div {
        color: white;
    }
</style>

<h1>Especificación de Usuario</h1>

<div class="text-white">
    <h4>Atributos del Perfil</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsCorreo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsCorreo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        @if (!string.IsNullOrEmpty(Model.Token))
        {
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Token)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Token)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.FechaExpiracionToken)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.FechaExpiracionToken)
            </dd>
        }
    </dl>
</div>
<div class="mt-3">
    @* Navegación a las funciones de edición o retorno al listado principal. *@
    <a asp-action="Edit" asp-route-id="@Model?.IdUsuario" class="btn btn-primary">Editar Perfil</a> |
    <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
</div>
