@model IEnumerable<Drippin.Models.Role>
@* Vista retornada por: RolesController.Index *@

@{
    ViewData["Title"] = "Gestión de Roles";
}

<h1 class="text-white">Administración de Roles de Usuario</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Rol</a>
</p>

@* Grilla de visualización para la gestión administrativa de perfiles de seguridad. *@
<table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreRol)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @* Iteración sobre el conjunto de roles definidos en el sistema. *@
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreRol)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdRol" class="btn btn-sm btn-outline-info">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.IdRol" class="btn btn-sm btn-outline-light">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdRol" class="btn btn-sm btn-outline-danger">Eliminar</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
